extends EntityItem
block fields
 
    input(type="hidden" name="ID" value=Item.ID)
    tr
        td(class="label_box")
            label(for="Name")  #{EntityName} Name
        td
            if(readonly)
                label(type="text") #{Item.Name}
            else
                input(type="text", placeholder="Example: Swimming", name="Name", value = Item.Name, readonly = readonly)
    tr
        td(class="label_box")
            label(for="CategoryID")  Category Name
        td
            if(readonly)
                label(type="text") #{Item.Category.Name}
            else
                select(name="CategoryID")
                    each Category in Categorys
                        option(value = Category.ID selected=Item.Category.ID == Category.ID) #{Category.Name}

